@import "libs/font";
@import "base/variables";
@import "base/mixins";




* {
  box-sizing: border-box;
  font-family: 'Match', sans-serif;
  // border: 1px solid red;
}

h2 {
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

body {
  margin: 0;
  width: 100%;

}


@import "blocks/header";
@import "blocks/buttons";
@import "blocks/top";
@import "blocks/portfolio";
@import "blocks/resume";
@import "blocks/contacts";
@import "blocks/slider";



@import "base/media";