.advantage {
  min-height: 472px;
  padding: 70px 0 80px 0;

  &__block {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    width: 240px;
    height: 230px;
    font: 300 14px/1 Museo;
    text-align: center;
    img {
      height: 70px;
      margin-bottom: 38px;
    }
    h3 {
      font: 700 18px/1 Museo;
      margin-bottom: 25px;
    }
    a {
      color: $main_color;
      text-transform: uppercase;
    }
    &_animated2 {
      animation-name: heartbeat;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      // animation:heartbeat 2s infinite; - тоже самое  для множественной анимации
      &:hover {
        animation-play-state: paused;
      }
    }
    &_animated1 {
      animation: cup 3s infinite;
      &:hover {
        animation-play-state: paused;
      }
    }
    &_animated3 {
      animation: shoes 1.5s infinite;
      &:hover {
        animation-play-state: paused;
      }
    }
  }

}