.portfolio {
  height: min-content;
  background: linear-gradient(180deg, #13dbc4 0%, #041843 100%);
  margin-top: 0;
  padding: 0.83em 0;
  text-align: center;

  &__content {
    margin-top: 20px;
    // color: $text_color;

    &-text {
      & p {
        text-align: justify;
        font: 400 15pt Roboto;
        & span {
          font: 700 17pt Roboto;
          color: rgb(208, 255, 0);
        }
      }
    }

    &_table {
      list-style: none;
      padding-left: 0;
      width: 90%;
      max-width: 350px;
      display: inline-block;
    }
  }

  &__link {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 350px;
    text-decoration: none;
    overflow: hidden;
    border: 4px solid rgb(255, 255, 255);

    img {
      display: block;
      width: 100%;
      height: 100%;
      transition: .7s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}