.top {
  height: 100%;
  background: linear-gradient(180deg, #424240 0%, $back-color 100%);
  text-align: center;
  padding-bottom: 50px;
  &__title {
    padding-top: 0;
  }
  &__image {
    padding-top: 50px;
    img {
      text-align: center;
      width: 30%;
      max-width: 200px;
      border-radius: 50%;
    }
  }
}
